#greeting {
  display: inline-block;
  text-align: left;
  position: absolute;
  left: 4vw;
  top: 26vh;
}

#greeting h1, #greeting h2 {
  margin: 0;
}

#greeting h1 {
  font-size: 10em;
}

#greeting h2 {
  font-size: 8em;
}
