#greeting {
  display: inline-block;
  text-align: left;
  position: absolute;
  left: 4vw;
  top: 26vh;
}

#greeting h1, #greeting h2, #greeting h3 {
  line-height: 1em;
  margin: 0;
}

#greeting h1 {
  font-size: 7vw;
}

#greeting h2 {
  font-size: 5vw;
}

#greeting h3 {
  font-size: 2vw;
}
