#message-box {
  display: inline-block;
  pointer-events: auto;
  position: absolute;
  top: 13vw;
  left: 10.2vw;
  width: 44vw;
  white-space: pre-wrap;
}

#message-box h2 {
  font-size: 4vw;
  line-height: 1em;
  margin-top: 2vw;
  margin-bottom: 0;
}

#message-box a {
  color: #00c1a6;
  font-size: 2vw;
  text-decoration: none;
}

#message-box a:first-of-type {
  margin-right: 2vw;
}

#message-body {
  font-size: 3.7vmin;
  margin-top: 1vw;
}
